<div id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="#">Home</a>

			<span class="divider">
				<i class="icon-angle-right"></i>
			</span>
		</li>
		<li>
			Collection
			<span class="divider">
				<i class="icon-angle-right"></i>
			</span>
		</li>
		<li>
			<a href="#articles">Articles</a>
			<span class="divider">
				<i class="icon-angle-right"></i>
			</span>
		</li>
		<li>
			<i class="control icon-edit"></i>
			<%= title %>
		</li>
	</ul><!--.breadcrumb-->
</div><!--.breadcrumbs-->

<div class="row status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Book saved successfully
        </div>
    </div>
</div>

<div id="page-content" class="clearfix">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span4">
				<div class="control-group">
					<label for="title" class="control-label">Title:</label>
					<div class="controls">
						<input id="title" name="title" type="text" value="<%= title %>"/>
						<span class="help-inline"></span>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="control-group">
					<label for="author" class="control-label">Author:</label>
					<div class="controls">
						<input id="author" name="author" type="text" value="<%= author %>"/>
						<span class="help-inline"></span>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="control-group">
					<label for="time" class="control-label">Time:</label>
					<div class="controls">
						<input id="time" name="time" type="text" value="<%= time %>"/>
						<span class="help-inline"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<div class="control-group">
					<label for="category" class="control-label">Category:</label>
					<div class="controls">
						<select id="category" name="category" data-placeholder="">
						</select>
						<span class="help-inline"></span>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="control-group">
					<label for="short_desc" class="control-label">Short Desc:</label>
					<div class="controls">
						<input id="short_desc" name="short_desc" type="text" value="<%= short_desc %>"/>
						<span class="help-inline"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="control-group">
				<label class="control-label" for="description">Description:</label>
				<div class="controls">
					<textarea class="ckeditor" id="description" name="description" rows="3"><%= description %></textarea>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<button id="btnSave">Save</button>
			<button id="btnCancel">Cancel</button>
		</div>
	</div>
</div><!--/#page-article-->